aiofiles==0.8.0
asgiref==3.5.0
click==7.1.2
fastapi==0.61.2
h11==0.11.0
httptools==0.1.1
Jinja2==2.11.2
MarkupSafe==1.1.1
pydantic==1.7.2
python-dotenv==0.15.0
PyYAML==5.3.1
starlette==0.13.6
uvicorn==0.17.5
websockets==10.2
