{% extends 'admin/master.html' %}
{% block access_control %}
  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="javascript:void(0)" onclick="javascript:$.post('/services/logout').then(() => window.location.reload())">Logout</a>
    </li>
  </ul>
{% endblock %}
{% block body %}
  <div id="app" class="container">
    <ul style="font-size: 16px; line-height: 2">
      <li><strong>註冊邀請碼</strong>: {{ g.invitation_code }}</li>
      <li><strong>導入任務</strong>: 請將任務配置文件(json 格式)上傳至 input 文件夾，導入完成後这些文件將被刪除。<a v-if="!running" href="javascript:void(0)" @click="importAll">點此導入</a></li>
      <li><strong>導出數據</strong>: 所有數據將被導出至 output 文件夾，按照導入順序作為 ID 每 100 個形成一個文件。<a v-if="!running" href="javascript:void(0)" @click="exportAll">點此導出</a> <a v-if="!running" href="javascript:void(0)" @click="download">下載全部</a></li>
      <li><strong>刪除未標技任務</strong>: <a v-if="!running" href="javascript:void(0)" @click="removeWaitingTasks">點此執行</a> </li>
      <li v-if="!running" class="text-muted" style="list-style: none">沒有正在執行的管理操作</li>
      <li v-show="running" class="text-warning" style="display: none; list-style: none">正在執行管理操作: <span v-text="running"></span></li>
    </ul>
  </div>
{% endblock %}

{% block tail %}
  <script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
  <script type="text/javascript">
    new Vue({
      el: '#app',
      data () {
        return {
          running: null
        }
      },
      methods: {
        async importAll () {
          this.running = '導入任務'
          try {
            const { data } = await axios.post('/import-all')
            alert(`成功導入 ${data} 個任務`)
          } finally {
            this.running = null
          }
        },
        async exportAll () {
          this.running = '導出數據'
          try {
            const { data } = await axios.post('/export-all')
            alert(`成功導出 ${data} 個已完成的任務`)
          } finally {
            this.running = null
          }
        },
        async download () {
          await this.exportAll()
          window.location.href = '/admin/myfileadmin/download/output/all.zip'
        },
        async removeWaitingTasks () {
          this.running = '刪除未標記的任務'
          try {
            await axios.post('/remove-waiting-tasks')
            alert('執行完成')
          } finally {
            this.running = null
          }
        }
      }
    })
  </script>
{% endblock %}
