<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <link href="https://fonts.loli.net/css?family=Lato:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext"
        rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/fontawesome.all.css') }}" rel="stylesheet">

  <style type="text/css">
    html, body {
      height: 100%;
    }

    body {
      font-family: 'Lato', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
    }
  </style>
  {% block style %}{% endblock %}
</head>
<body>
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='js/polyfill.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"
        integrity="sha512-WL6WGKMPBiM9PnHRYIn5YEtq0Z8XP4fkVb4qy7PP4vhmYQErJ/dySyXuFIMDf1eEYCXCrQrMJfkNwKc9gsjTjA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
  function curDialogue(id){
    var msg = document.getElementById(id).value;
    document.getElementById('currentMsg').innerHTML = msg;
  }

  var intent = ['General', 'Inform', 'Request']
    var domain = {
      'General':['bye', 'greet', 'thank'],
      'Inform':['Calendar', 'Gmail', 'Line'],
      'Request':['Calendar', 'Gmail', 'Line']
    }
    var slot = {
      'Calendar':["活動名稱", "活動時間", "是否全天", "活動內容", "活動地點"],
      'Gmail':["收件者", "寄件者", "郵件主旨", "信件內容", "副本收件者"],
      'Line':["收件者", "傳送內容"]
    }
    
    function setDomain(intentID){
      console.log(document.getElementById(intentID).value);
      document.getElementById('domain').innerHTML = '<option value="" selected> </option>'
      var select_intention = document.getElementById(intentID).value;
      if (select_intention != '')
        for(let i = 0; i < domain[select_intention].length; i++)
          document.getElementById('domain').innerHTML += '<option value=' + domain[select_intention][i] + '>'+ domain[select_intention][i] +'</option>';
    }

    function setSlot(domainID){
      console.log(document.getElementById(domainID).value);
      document.getElementById('slot').innerHTML = '<option value="" selected> </option>'
      var select_domain = document.getElementById(domainID).value;
      if (select_domain != '')
        for(let i = 0; i < slot[select_domain].length; i++)
          document.getElementById('slot').innerHTML += '<option value=' + slot[select_domain][i] + '>'+ slot[select_domain][i] +'</option>';
    }

    $(document).ready(
      function(){
        for(let i = 0; i < intent.length; i++) 
          document.getElementById('intention').innerHTML += '<option value=' + intent[i] + '>'+ intent[i] +'</option>';
      }
    );
</script>
{% block script %}{% endblock %}
</body>
</html>
